// @format

.nextpageLine {
	height: 2;
	background-color: $gray-lighten-20;
}

.nextpageLineDark {
	background-color: $gray-50;
}

.nextpageText {
	color: $gray;
	text-decoration-style: solid;
	text-transform: uppercase;
}

.nextpageTextDark {
	color: $gray-20;
}
