.groupPlaceholder {
	margin: $block-edge-to-content;
	margin-right: $block-selected-child-margin;
	margin-left: $block-selected-child-margin;
	padding: $block-selected-to-content;
	border: $border-width dashed $gray;
	border-radius: 4px;
	background-color: $white;
}

.groupPlaceholderDark {
	border: $border-width dashed $gray-70;
	background-color: $black;
}

.marginVerticalDense {
	margin-top: $block-selected-child-margin;
	margin-bottom: $block-selected-child-margin;
}

.marginHorizontalNone {
	margin-right: 0;
	margin-left: 0;
}
