{# News Single Template #}
{% extends "layouts/base.twig" %}

{% block content %}

	<h2>
		<a href="{{ post.link }}">{{ post.title }}</a>
	</h2>

	{% if post.thumbnail.src %}
		<img src="{{ post.thumbnail.src }}" />
	{% endif %}

	<div class="post-content">
		{{ post.content }}
	</div>

{% endblock %}
